event.json
an-image.jpg
local.env
demo.env
node_modules
package-lock.json
terraform.tfstate*
.terraform
.terraform.tfstate.lock.info
schematics.json
schematics.tfvars
vpcid.txt
.DS_Store
apikey_file.json
.vscode/
__pycache__
venv/
deleteme/
